//-
//- Homepage
//-
extends ../layouts/master

block vars
  - var pageTitle      = 'Home';
  - var pageName       = 'home';
  - var bodyClass      = 'home';
  - var assetRoot      = '';
  - var cssFile        = 'home';
  - var jsFile         = 'home';

block main